parameters:
    level: max
    paths:
        - tests
        - ecs.php

    ignoreErrors:
        -
            message: '#^Class (.*) not found.$#'
            count: 76
            path: ecs.php

        -
            message: "#^Call to method (import|services)\\(\\) on an unknown class Symfony\\\\Component\\\\DependencyInjection\\\\Loader\\\\Configurator\\\\ContainerConfigurator\\.$#"
            count: 2
            path: ecs.php

        -
            message: "#^Parameter \\$containerConfigurator of anonymous function has invalid type Symfony\\\\Component\\\\DependencyInjection\\\\Loader\\\\Configurator\\\\ContainerConfigurator\\.$#"
            count: 1
            path: ecs.php
